:root {
  /* === DESIGN TOKENS === */
  
  /* Brand Colors */
  --color-primary: #635BFF; 
  --color-secondary: #0f9015;

  --color-text-primary-hover: #3d3a3a;
  --color-text-secondary-hover: #3d3a3a;

  --color-background-primary-hover: #756efa;
  --color-background-secondary-hover: #3dad42;
  
  /* Status Colors */
  --color-success: #0EC276;
  --color-warning: #F59E0B;
  --color-error: #DC2626;
  --color-info: #2563EB;
  
  /* Interactive Colors */
  --color-hover-light: #F3F4F6;     /* gray-100 - Hover léger */
  --color-hover-medium: #E5E7EB;     /* gray-200 - Hover moyen */
  
  /* Text Colors */
  --color-text-primary: #111827;     /* Headings */
  --color-text-secondary: #374151;   /* Body text */
  
  /* Background Colors */
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F9FAFB;
}